/*CSS reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

/*Body Styles*/
body {
    font-family: 'Ubuntu', sans-serif;
    color: black;
    margin-top: 0px;
    background: rgb(86, 105, 5) url("soccer-world.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
}
/*body overlay pattern style*/
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -999;
    background-color: rgba(0,0,0,0.5); /*dim the background*/
    background-image: url("black-orchid.png");
    background-repeat: repeat;
}
/*Page container styles*/
.container {
    max-width: 960px;
    width: 100%;
    background-color: #efefef;
    margin: 0 auto;
    /*min-height: 800px;*/
    z-index: 10;
}

header {
    height: 80px;
    background: white;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
    border-bottom: 2px solid #bfe619;
}

#logo h1 {
    color: orange;
}

.sport {
    background-color: #bfe619;
    padding: 0 5px 3px 5px;
    border-radius: 10px;
    color: white;
}

#logo {
    width: 200px;
    padding: 20px;
    background: white;
    float: left;
}

    #logo a {
        text-decoration: none;
    }

nav {
    background: white;
    float: right;
    margin-top: 30px;
    margin-right: 50px;
}


    nav ul li {
        display: inline;
        padding: 20px;
    }

        nav ul li a {
            text-decoration: none;
            font-family: 'Ubuntu', sans-serif;
            font-weight: 100;
            color: darkorange;
            padding: 3px 8px 5px 8px;
        }

            nav ul li a:hover {
                background-color: #bfe619;
                color: black;
                padding: 3px 8px 5px 8px;
                border-radius: 3px 3px;
            }

            nav ul li a.selected {
                background-color: #bfe619;
                color: black;
                padding: 3px 8px 5px 8px;
                border-radius: 3px 3px;
            }



.content_float {
    float: left;
    width: 160px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-family: 'Ubuntu',sans-serif;
}

    .content_float p {
        text-align: justify;
        text-justify: auto;
    }

    .content_float h4 {
        margin: 5px 0;
        color: rgb(86, 105, 5);
    }

.readMore {
    background: rgb(86, 105, 5);
    color: white;
    border: none;
    margin-top: 10px;
    padding: 5px 8px;
    text-align: center;
    display: block;
    text-decoration: none;
    width: 80px;
    margin-left: auto;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

    .readMore:hover {
        color: black;
    }

.contents {
    width: 67%;
    float: left;
    background: #F8F8F8;
    margin-top: -80px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 20px;
    clear: right;
}

.subTitle {
    color: orange;
}

.welcome {
    margin-right: 60px;
    position: relative;
    top: -300px;
    font-size: 40px;
    font-family: 'Ubuntu',sans-serif;
    width: 280px;
    float: right;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px 2px rgba(0,0,0,0.3);
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    background: rgba(0,0,0,0.4);
    box-shadow: 2px 1px 2px 2px rgba(0,0,0,0.7);
    color: white;
}

#last_posted h3.sub_heading {
    margin-bottom: 20px;
    margin-left: 20px;
    clear: both;
}

h3.sub_heading1 {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

h2.sub_heading1 {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

#featured {
    margin-bottom: 20px;
    width: 100%;
    border-bottom: 1px rgba(0,0,0,0.4);
    height: 100%;
}

#last_posted {
    margin-top: 20px;
    width: 100%;
}

.left_sidebar {
    float: right;
    background: #f8f8f8;
    padding: 20px;
    width: 220px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: -80px;
    min-height: 400px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    clear: right;
    /*-webkit-box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.27);
-moz-box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.27);
box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.27);*/
}

.sidebar_titles {
    margin-bottom: 20px;
    color: rgb(86, 105, 5);
    font-family: 'Ubuntu',sans-serif;
    border-bottom: solid 1px rgba(0,0,0,0.1);
}

.sidebar_sections {
    margin-top: 20px;
}

.side_menu ul {
    list-style-type: none;
}

    .side_menu ul li a {
        color: orange;
        text-decoration: none;
        font-family: 'Ubuntu',sans-serif;
        font-weight: 700;
    }

        .side_menu ul li a:hover {
            color: #000;
        }

footer {
    clear: both;
    min-height: 300px;
    /*height: auto;*/
    padding: 20px 20px 0 20px;
    background: #3c3c3c;
    font-family: 'Ubuntu',sans-serif;
    color: white;
    background-image: url("black-orchid.png");
    background-repeat: repeat;
}

.columns {
    float: left;
    margin: 30px 10px 0 10px;
    background: #282828;
    width: 265px;
    padding: 20px 10px 10px 10px;
    min-height: 200px;
    -webkit-box-shadow: inset 0px 0px 2px 2px rgba(0,0,0,0.27);
    -moz-box-shadow: inset 0px 0px 2px 2px rgba(0,0,0,0.27);
    box-shadow: inset 0px 0px 2px 2px rgba(0,0,0,0.27);
    border-radius: 5px;
}

.foot_title {
    text-align: center;
    font-family: 'Ubuntu',sans-serif;
}

.foot_sub {
    color: orange;
}

footer h3 {
    padding-bottom: 10px;
}

.social_text {
    margin-bottom: 20px;
}

.Social_Icons i {
    margin-right: 10px;
}

.Social_Icons a {
    color: white;
}

.footer_menu ul {
    list-style-type: none;
    text-align: left;
    margin-left: 40px;
}

    .footer_menu ul li a {
        color: orange;
        text-decoration: none;
        font-family: 'Ubuntu',sans-serif;
        font-weight: 700;
    }

        .footer_menu ul li a:hover {
            color: white;
        }


#banner img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.copyright {
    clear: both;
    width: 100%;
    height: 50px;
    font-family: 'Ubuntu',sans-serif;
    font-size: 10px;
    background: black;
    text-align: center;
}

    .copyright p {
        line-height: 50px;
        color: azure;
    }

        .copyright p a {
            color: darkorange;
            text-decoration: none;
        }

/*Contact Page Styles*/
.full_width_page {
    width: 96%;
    float: left;
    background: #F8F8F8;
    margin-top: -80px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 20px;
    clear: right;
}

form.contact_form {
    margin-left: 20px;
    font-family: 'Ubuntu',sans-serif;
    color: #383838;
    margin-bottom: 20px;
    width: 30%;
    float: left;
    background: white;
    padding: 10px;
}

form #fullname, #email, #message {
    margin-top: 10px;
    margin-bottom: 5px;
}

.map {
    float: right;
    margin-left: 20px;
    width: 60%;
    margin-bottom: 20px;
}


/*Sports Page Styles*/
.football, .cricket, .rugby {
    background: #f8f8f8;
    margin-bottom: 20px;
}

    .football h3 {
        margin-top: 20px;
        margin-left: 20px;
    }

    .cricket h3 {
        margin-left: 20px;
    }

    .rugby h3 {
        margin-left: 20px;
    }
